main{
    background-color: #1C1C1C;
    text-align: center;
    position: relative;
    .series{
      position: absolute;
      top: -25px;
      left: 200px;
      background-color: $primary-color;
      h2{
        color: white;
        padding: 5px 20px;
        text-transform: uppercase;
      }
    }
    .container{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 80%;
    }
    button{
      color: white;
      font-size: 12px;
      font-weight: bold;
      margin: 20px;
      padding: 10px 20px;
      background-color: $primary-color;
      border: none;
      cursor: pointer;
      &:hover{
        background-color:lighten($primary-color, 10%);
      }
    }
  }
  .content{
    width: 80%;
    margin: 0 auto;
    h1{
      color: white;
      padding: 70px 0px;
    }
  }

  .loghi{
    @include centerFlex('horizontal');
    background-color: $primary-color;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    img{
      width: 40px;
      vertical-align: middle;
      margin: 10px;
      cursor: pointer;
    }
    ul{
      @include centerFlex('horizontal');
      align-items: center;
    }
    li{
      display: inline-block;
      padding: 20px;
      margin: 0 20px;
      cursor: pointer;
      &:hover{
        transition: 1s;
        font-size: 14px;
      }
    }
  }
  .cards{
    width: calc(80% / 6);
    text-align: center;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-top: 50px;
    &:hover{
        transition: 1s;
        filter: brightness(50%);
    }
    }
    h4{
    color: white;
    font-size: 14px;
    font-weight: lighter;
    word-wrap: break-word;
    margin-top: 10px;
    }
    .cards{
    width: calc(80% / 6);
    text-align: center;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-top: 50px;
    &:hover{
        transition: 1s;
        filter: brightness(50%);
    }
    }
    h4{
    color: white;
    font-size: 14px;
    font-weight: lighter;
    word-wrap: break-word;
    margin-top: 10px;
    }
}
}

